.editor {
   p {
     color : black;
     font-size: 16px;
   }
  h4 {
    color : black;
  }
}
.cardTitle {
  color: black;
}

.card:hover {
    cursor: pointer;
}
.inline {
  display: flex;
}
.close:hover {
  cursor: pointer;
}
.close {
  margin-top: -3px;
  margin-left: auto;
}

.return {
  margin-top: -3px;
  margin-left: 0;
  margin-right: 10px;
}

.return:hover {
  cursor: pointer;
}