.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #3d424c;
}

.header-title {
    text-decoration: none;
    color: #fff;
    width: 30%;
    font-size: 15px;
}

.header-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}

.header-nav a {
    color: #ccc;
    font-size: 15px;
    text-decoration: none;
}