.carCard {
    background-color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;

    width: 200px;
    text-align: left;
    padding: 5px 10px 0 10px;
    margin: 10px 10px 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carCard-title {
    font-size: 15px;
    font-weight: bold;
}

.carCard-details {
    font-size: 13px;
}

.carCard-action {
    text-align: right;
}

.carCard-not-available {
    border-color: #5f1c1c;
}
.carCard-available {
    border-color: #a1d0a1;
}

.imageCar {
       height: auto;
    width: 100%;
}